/Library/Artifacts
/Library/Bee
/Library/BurstCache
/Library/PackageCache
/Library/ScriptAssemblies
/Library/ShaderCache/builtin/0000/00
/Library/ShaderCache/builtin/unity_builtin_extra0000
/Library/ShaderCache/compute
/.vs/HOW TO MAKE A 3D PLATFORM GAME IN UNITY 6.slnx/FileContentIndex
/Assets/TextMesh Pro
/Library/ShaderCache
